extends layouts/moneybook

block content
    .add__container#AddContainer
        .add__content
            form(action=routes.editInout(inout.id), method="post")
                .add__column
                    span 날짜
                    span=date
                    input(type="hidden", name="date", value=inout.date)
                .add__column
                    span 입출
                    .radio__container#Inout
                        .radio__column
                            if inout.inout === "in"
                                input.radio#In(type="radio", name="inout", value="in", checked)
                            else
                                input.radio#In(type="radio", name="inout", value="in")
                            label(for="In") 수입
                        .radio__column
                            if inout.inout === "out"
                                input.radio#Out(type="radio", name="inout", value="out", checked)
                            else
                                input.radio#Out(type="radio", name="inout", value="out")
                            label(for="Out") 지출
                .add__column
                    span 유형
                    .radio__container
                        .radio__column
                            if inout.asset === "현금"
                                input.radio#Cash(type="radio", name="asset", value="현금", checked)
                            else
                                input.radio#Cash(type="radio", name="asset", value="현금")
                            label(for="Cash") 현금
                        .radio__column
                            if inout.asset === "은행"
                                input.radio#Bank(type="radio", name="asset", value="은행", checked)
                            else
                                input.radio#Bank(type="radio", name="asset", value="은행")
                            label(for="Bank") 은행
                        .radio__column
                            if inout.asset === "카드"
                                input.radio#Card(type="radio", name="asset", value="카드", checked)
                            else
                                input.radio#Card(type="radio", name="asset", value="카드")
                            label(for="Card") 카드
                .add__column#CategoryButton
                    span 분류
                    span#StrCategory=inout.category
                    input#SelectedCategory(type="hidden", name="category", value=inout.category)
                .add__column
                    span 금액
                    input(type="text", name="amount", placeholder="금액", autocomplete="off", value=inout.amount)
                .add__column
                    span 내용
                    input(type="text", name="content", placeholder="내용", autocomplete="off", value=inout.content)
                .add__column
                    button(type="submit") update
                    a(href=moneybook+routes.calendar)
                        button(type="button") cancel

    .group__container#CategoryContainer
        .group__content
            if inout.inout === "in"
                .group__column.grid#CategoryIn
                    include partials/categoryIn.pug
            else
                .group__column#CategoryIn
                    include partials/categoryIn.pug
                    
            if inout.inout === "out"
                .group__column.grid#CategoryOut
                    include partials/categoryOut.pug
            else
                .group__column#CategoryOut
                    include partials/categoryOut.pug

                    