header.header
    .header__wrapper
        .header__column
            a(href=routes.home)
                i.fas.fa-money-check
                span.siteName MONEY BOOK
        .header__column
            ul
                if !loggedUser
                    a(href=routes.join) 
                        li join
                    a(href=routes.login) 
                        li login
                else
                    a(href=`${routes.moneybook}${routes.calendar}`)  
                        li moneybook
                    a(href=routes.userDetail) 
                        li profile
                    a(href=routes.logout) 
                        li logout