header.header
    .header__wrapper
        .header__column
            a(href=routes.home)
                i.fas.fa-money-check
                span.siteName MONEY BOOK
        .header__column
            ul
                li 
                    a(href=moneybook+routes.calendar) calendar
                li 
                    a(href=moneybook+routes.property) property
                li 
                    a(href=moneybook+routes.daily) daily
                li 
                    a(href=moneybook+routes.weekly) weekly
                li 
                    a(href=moneybook+routes.monthly) monthly