header.header
    .header__wrapper
        .header__column
            a(href=routes.home)
                i.fas.fa-money-check
                span.siteName MONEY BOOK
        .header__column
            ul
                a(href=moneybook+routes.calendar)
                    li calendar
                a(href=moneybook+routes.assets) 
                    li assets
                a(href=moneybook+routes.daily) 
                    li daily
                a(href=moneybook+routes.weekly) 
                    li weekly
                a(href=moneybook+routes.monthly) 
                    li monthly